<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chlqudco.develop.sejong2022capstoneteam8">


    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/strong_icon"
        android:label="AI 헬스 카운터"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sejong2022CapstoneTeam8">
        <activity android:name=".Mlkit.SettingsActivity"/>
        <activity android:name=".Mlkit.CameraXLivePreviewActivity"/>
        <activity
            android:name=".Fitness.AllFitnessEndActivity"
            android:exported="false" />
        <activity
            android:name=".Fitness.SetEndActivity"
            android:exported="false" />
        <activity
            android:name=".LogInAndSignUp.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LogInAndSignUp.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>